body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    height: 100vh;
}

/* Header */
header {
    background-color: #006400;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
    padding-left: 60px;
    color: #fbefcc;
    font-size: 90px;
    font-family: Brush Script MT;
}
h1 a{
    color: #fbefcc;
    text-decoration: none;
}
#h1Heart {
    font-size: 15px; 
    padding-left:10px; 
    color:#fbefcc;
}

/* Banner */
#banner{
    margin: 0;
    background-color: rgb(228, 197, 21);
}
h2 {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    color: white;
    font-family: Comic Sans MS;
    font-size: 30px;
}

/* List of Items */
#itemDetails {
    margin: 30px 225px 0 225px;
    padding-top: 10px;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(1, 800px);
}
.content {
    border-top: 3px #006400 solid;
    display: flex;
    flex-direction: row;
    height: auto;
    padding-bottom: 6px;
}
.img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    padding-top: 10px;
}
.img:hover {
    opacity: 0.8;
}
.descri {
    position: relative;
    width: 480px;
    height: 160px;
    margin: 10px 0 5px 15px;
    display: flex;
    flex-direction: column;
    border-right: 1px black solid;
}
.title {
    display: flex;
}
.descri p {
    margin: 0;
    padding: 0;
}
p.name {
    font-size: 25px;
}
p.stock {
    color: green;
    font-size: 15px;
    padding-top: 5px;
}
form {
    margin: 3px 0 0 15px;
}
select {
    font-size: 15px;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}
.descri i {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    padding: 0 15px 5px 0;
    font-size: 18px;
    cursor: pointer;
}
.price p {
    margin-top: 10px;
    padding-left: 10px;
    display: block;
    font-size: 20px;
}
.subtotal {
    width: 800px;
    margin: 10px 225px 20px 225px;
    border-top: 3px #006400 solid;
}
.subtotal p {
    margin: 0;
    padding: 10px 5px 0 0;  
    text-align: end;
    font-size: 23px;
}
footer {
    width: 100%;
    height: auto;
    background-color: #006400;
}
.paymentIcons {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 35px;
}