body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    height: 100vh;
}

/* Header */
header {
    background-color: #006400;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
    padding-left: 60px;
    color: #fbefcc;
    font-size: 90px;
    font-family: Brush Script MT;
}
#h1Heart {
    font-size: 15px; 
    padding-left:10px; 
    color:#fbefcc;
}

/* Banner */
#banner{
    margin: 0;
    background-color: rgb(228, 197, 21);
}
h2 {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    color: white;
    font-family: Comic Sans MS;
    font-size: 30px;
}

/* List of Items */
ul {
    margin: 50px 250px 0 250px;

}
li {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 5px rgba(143, 188, 143, 0.753) solid;
    border-radius: 3px;  
}
li:hover {
    border: 5px #006400 solid;
    opacity: 0.8;
}
li img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
} 
#name {
    margin: 0;
    align-self: center;
    font-size: 30px;
    border-bottom: 1px black solid;
}
#prices {
    margin: 0;
    align-self: center;
    font-size: 30px;
    border-bottom: 1px black solid;
}