body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    height: 100vh;
}

/* Header */
header {
    background-color: #006400;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
    padding-left: 60px;
    color: #fbefcc;
    font-size: 90px;
    font-family: Brush Script MT;
}
#h1Heart {
    font-size: 15px; 
    padding-left:10px; 
    color:#fbefcc;
}
h2 {
    margin: 0;
    padding-right: 25px;
    padding-top: 60px;
    font-size: 28px;
    font-family: Brush Script MT;
    color: #fbefcc;
}

/* Banner */
#banner {
    display: flex;
    justify-content: space-between;
    background-color: #8FBC8F;
    padding: 10px 30px 10px 30px;
    position: static;
}
form {
    padding-top: 2px;
}
select {
    font-size: 15px;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}
select:hover {
    background-color: rgba(0, 0, 0, 0.349);
    color:white;
}
#basket {
    padding-right: 20px;
}
#bannerIcons {
    display: flex;
    justify-content: space-between;
}
#basketIcon {
    color: white;
    padding-right: 5px;
    cursor: pointer;
    font-size: 25px;
}
#basketIcon:hover {
    color: #FFD700;
}
#heart {
    color: white;
    padding-right: 5px;
    cursor: pointer;
    font-size: 25px;
}
#heart:hover {
    color: #FFD700;
}
span {
    color: white;
    font-size: 20px;
}

/* Products & Description */
#contents {
    padding: 50px 0px 50px 0;
    background-color: #e0e2e433;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 350px);
    grid-gap: 50px;
    justify-content: center;
}
.itemDetails {
    height: 100%;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 10px;
    border: 2px rgba(143, 188, 143, 0.753) solid;
    justify-self: center;
    
}
.images {
    margin: 10px 10px 0 10px;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    cursor: pointer;
}
.details {
    height: 45px;
    margin: 0;
    padding: 0 10px 10px 12px;
    display: flex;
    justify-content: space-between;
}
p {
    font-size: 20px;
    font-family: Optima, sans-serif ;
}
.p {
    cursor: pointer;
}
p.p:hover {
    height: 25px;
    padding-top: 3px;
    color:white;
    background-color: rgba(34, 139, 34, 0.548);
    text-shadow: 0 0 10px white;
}

/* Icons */
.icons {
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.fa-cart-plus {
    font-size:20px;
    cursor: pointer;
}
.fa-cart-plus:hover {
    color: green;
}
.fas.fa-cart-arrow-down {
    font-size:20px;
    color:green;
}
.fa-heart {
    font-size:20px;
    cursor: pointer;
}
.fa-heart.far:hover {
    color: #FFD700;
}
.fa-heart.fas{
    color: #FFD700;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    background-color: #006400;
}
#footerInfo {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
h3 {
    margin: 0;
    color: white;
}
.social {
    padding-left: 10px;
    cursor: pointer;
    color: white;
}